name: deploy

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      NODE_VERSION: "20"
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm

      - run: pnpm i

      - run: pnpm run build

      - run: |
          mkdir dist/dist
          mv dist/index.js dist/dist/index.js
          cp action.yml dist

      - run: echo "TAG=v$(cat package.json | jq .version -r)" >> $GITHUB_ENV

      - name: Generate Changelog
        id: changelog
        uses: requarks/changelog-action@b78a3354a01f4a1affb484b9264b506a815c46b1 # v1.10.3
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}
          writeToFile: false
          restrictToTypes: feat,fix,revert

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          commit_message: deploy ${{ github.ref }}
          publish_branch: dist/v0
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
          tag_name: dist/${{ env.TAG }}
          tag_message: "release ${{ github.ref_name }}"

      - run: gh release create "dist/${TAG}" --notes "${CHANGELOG}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHANGELOG: "${{ steps.changelog.outputs.changes }}"
